{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":5,"column":22},"end":{"row":6,"column":0},"action":"insert","lines":["",""],"id":6}],[{"start":{"row":6,"column":0},"end":{"row":13,"column":17},"action":"insert","lines":["Django~=1.11.19","Pillow~=5.3.0","pytz~=2018.7","django-forms-bootstrap~=3.1.0","gunicorn~=19.7.1","psycopg2~=2.7.3.2","dj-database-url~=0.4.2","whitenoise~=3.3.1"],"id":7}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":14,"column":0},"end":{"row":14,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":69,"mode":"ace/mode/text"}},"timestamp":1565000171186,"hash":"eb67b1675e53dd553c9e8abd0a42c4e6b6775b91"}